body{
  margin:10px 40px;
  background-color: black;
}
.App {
  /* text-align: center; */
  background-color: black;
  height: 100%;
}
.navbar{
  background-color: grey;
  color: white;
  height: 3rem;
  font-size: x-large;
  padding: 0 10px;

}
.votingBooth{
  padding-left: 5px;
  margin-top: 20px;
  width: 100%;
  background-color: grey;
}
.right-side{
  float: right;
  padding-top: 5px;
}
.left-side{
  float: left;
  padding-top: 5px;
}
#voteHead{
  color: greenyellow;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}